<style>
    .copyright-footer {
        background-color: #e3f2fd;
    }
</style>


<footer class="text-muted pb-1 copyright-footer">
    <div class="container p-2 d-flex justify-content-between">
        <p><a href="/" target="_blank">Ailurophile</a> - сервис заливки котов</p>
        <p><a class="ml-auto" href="/about">О сервисе</a></p>
    </div>
</footer>