<style>
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .wrapper {
        width: 600px;
        height: 400px;
        margin: 0 auto;
    }

    .slider {
        background-color: #e1f1ff;
    }

    .swiper-slide {
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .slide-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

{{#if images }}
<div class="slider">
    <div class="wrapper">
        <div class="swiper-container">
            <div class="swiper-wrapper" id="slides-container"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
{{/if}}

<script src="scripts/sliderrequest.js"></script>