{{>navbar}}

<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .all-center {
        flex-grow: 1;
    }
</style>

<div class="container all-center">
    <div class="mt-3">
        <form method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Название</label>
                <input id="input_text" type="text" data-length="10" name="title" class="form-control"
                    placeholder="Назовите котика" maxlength="50" required>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Описание</label>
                <textarea class="form-control" name="description" id="exampleFormControlInput1"
                    placeholder="Коротко опишите котика (необязательно)"></textarea>
            </div>

            <div class="mb-3">
                <label for="formFile" class="form-label">Прикрепите картинку</label>
                <input class="form-control" type="file" id="formFile" accept="image/png, image/jpeg" name="photo">
            </div>
            <button type="submit" class="btn btn-primary">Создать</button>
        </form>
    </div>
</div>

{{>footer }}